<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <nav>
      <ul>
        <li>
        <a href="/user_sign_up">User Sign Up</a>
        </li>
        <li>
        <a href="/user_sign_out">User Sign Out</a>
        </li>
        <li>
        <a href="/user_sign_in">New Sign In</a>
        </li>

        <li>
        <a href="/habits">Add a habit</a>
        </li>

        <li>
        <%= session.fetch(:user_id) %>
        </li>
      </ul>
    </nav>

    <% if notice.present? %>
      <div style="border: thin green solid; color: green">
        <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div style="border: thin red solid; color: red">
        <%= alert %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
